<a href="https://colab.research.google.com/github/sujitpal/nlp-deeplearning-ai-examples/blob/master/x2_building_blocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn

## Exercise 2.01

In [2]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv

--2020-07-27 23:08:33--  https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11979363 (11M) [application/x-httpd-php]
Saving to: ‘energydata_complete.csv.1’

energydata_complete 100%[===================>]  11.42M  34.2MB/s    in 0.3s

2020-07-27 23:08:33 (34.2 MB/s) - ‘energydata_complete.csv.1’ saved [11979363/11979363]

In [3]:
energy_df = pd.read_csv("energydata_complete.csv")
energy_df = energy_df.drop(columns=["date"])
energy_df.head()

   Appliances  lights     T1  ...  Tdewpoint        rv1        rv2
0          60      30  19.89  ...        5.3  13.275433  13.275433
1          60      30  19.89  ...        5.2  18.606195  18.606195
2          50      30  19.89  ...        5.1  28.642668  28.642668
3          50      40  19.89  ...        5.0  45.410389  45.410389
4          60      40  19.89  ...        4.9  10.084097  10.084097

[5 rows x 28 columns]

## Exercise 2.02

**Any Categorical Features?**
There are no non-numerical (categorical) columns.

In [4]:
cols = energy_df.columns
num_cols = energy_df._get_numeric_data().columns
list(set(cols) - set(num_cols))

[]

**Missing Values?**

In [5]:
energy_df.isnull().sum()

Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

**Outliers?**

In [6]:
outliers = {}
for col in energy_df.columns:
  col_values = energy_df[col].values
  col_mean, col_std = np.mean(col_values), np.std(col_values)
  col_lb, col_ub = col_mean - 3 * col_std, col_mean + 3 * col_std
  count = 0
  for x in col_values:
    if x < col_lb and x > col_ub:
      count += 1
  if count > 0:
    percentage = count / len(col_values)
    outliers[col] = "{:.3f}".format(percentage)

outliers

{}

## Exercise 2.03

**Rescaling**

In [7]:
X = energy_df.iloc[:, 1:]
y = energy_df.iloc[:, 0]

In [8]:
Xmin, Xmax = np.min(X, axis=0), np.max(X, axis=0)
ymin, ymax = np.min(y), np.max(y)

In [9]:
X = (X - Xmin) / (Xmax - Xmin)
y = (y - ymin) / (ymax - ymin)

In [10]:
X.head()

     lights       T1      RH_1  ...  Tdewpoint       rv1       rv2
0  0.428571  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1  0.428571  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2  0.428571  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3  0.571429  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4  0.571429  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

## Exercise 2.04

**Splitting dataset**

In [11]:
X.shape

(19735, 27)

In [12]:
train_end = int(X.shape[0] * 0.6)
dev_end = int(X.shape[0] * 0.8)

train_end, dev_end

(11841, 15788)

In [13]:
X_shuffle = X.sample(frac=1, random_state=0)
y_shuffle = y.sample(frac=1, random_state=0)

In [14]:
Xtrain = X_shuffle.iloc[0 : train_end, :].values
ytrain = y_shuffle.iloc[0 : train_end].values
Xdev = X_shuffle.iloc[train_end : dev_end, :].values
ydev = y_shuffle.iloc[train_end : dev_end].values
Xtest = X_shuffle.iloc[dev_end: , :].values
ytest = y_shuffle.iloc[dev_end:].values

Xtrain.shape, ytrain.shape, Xdev.shape, ydev.shape, Xtest.shape, ytest.shape

((11841, 27), (11841,), (3947, 27), (3947,), (3947, 27), (3947,))

In [15]:
Xtrain = torch.tensor(Xtrain, dtype=torch.float32).to("cuda")
ytrain = torch.tensor(ytrain, dtype=torch.float32).to("cuda")
Xdev = torch.tensor(Xdev, dtype=torch.float32).to("cuda")
ydev = torch.tensor(ydev, dtype=torch.float32).to("cuda")
Xtest = torch.tensor(Xtest, dtype=torch.float32).to("cuda")
ytest = torch.tensor(ytest, dtype=torch.float32).to("cuda")

## Exercise 2.05

**Building a Deep Neural Network**

In [16]:
model = nn.Sequential(
    nn.Linear(Xtrain.shape[1], 100),
    nn.ReLU(),
    nn.Linear(100, 50),
    nn.ReLU(),
    nn.Linear(50, 25),
    nn.ReLU(),
    nn.Linear(25, 1)
)
model = model.to("cuda")
model

Sequential(
  (0): Linear(in_features=27, out_features=100, bias=True)
  (1): ReLU()
  (2): Linear(in_features=100, out_features=50, bias=True)
  (3): ReLU()
  (4): Linear(in_features=50, out_features=25, bias=True)
  (5): ReLU()
  (6): Linear(in_features=25, out_features=1, bias=True)
)

In [17]:
loss_fn = torch.nn.MSELoss()

In [18]:
optimizer = torch.optim.Adam(model.parameters(), lr=1e-3)

In [19]:
for i in range(1000):
  y_pred = model(Xtrain).squeeze()
  loss = loss_fn(y_pred, ytrain)
  optimizer.zero_grad()
  loss.backward()
  optimizer.step()
  if i % 100 == 0:
    print(i, loss.item())

0 0.02776564285159111
100 0.008520383387804031
200 0.007633619010448456
300 0.007075233850628138
400 0.006632211618125439
500 0.006249370984733105
600 0.005939819384366274
700 0.005636805202811956
800 0.0053865546360611916
900 0.005197406746447086

In [20]:
pred = model(Xtest[0])
print("Ground truth: {:.3f}, prediction: {:.3f}".format(
    ytest[0].cpu().numpy(), 
    pred[0].cpu().detach().numpy()))

Ground truth: 0.047, prediction: 0.047